*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑","平方";
	font-style: normal;
  font-weight: normal;
	
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
@font-face {
  font-family: 'iconfont';  /* project id 976850 */
  src: url('//at.alicdn.com/t/font_976850_513jcyi61td.eot');
  src: url('//at.alicdn.com/t/font_976850_513jcyi61td.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_976850_513jcyi61td.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_976850_513jcyi61td.woff') format('woff'),
  url('//at.alicdn.com/t/font_976850_513jcyi61td.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_976850_513jcyi61td.svg#iconfont') format('svg');
}
.iconfont{
	font-family: "iconfont";
}
.clear::after{
	content: "";
	display: block;
    width: 0;
	height: 0;
	clear: both;
}
.jian,.new-style{
	font-size: 12px;
	color: #fff;
	width: 64px;
	height: 20px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  z-index: 999;
	transition:all 0.3s;
}
.new-style{
	background: #83c44e;
}
.jian{
	background: #e53935;
}
.mask{
	width: 234px;
	height: 339px;
	background: rgba(0,0,0,0.01);
	position: absolute;
	top: 0;
	left: 0;
  cursor: pointer;
}
